BOT_TOKEN=
ENCRYPTION_KEY=
SOLANA_CLUSTER=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
DATABASE_URL=postgres://postgres:postgres@localhost:5432/telegram_bot
PROGRAM_ID=
PRIVATE_KEY=
RELAYER_PRIVATE_KEY=